@font-face { 
  font-family: Skia; 
  src: url('https://www.mediafont.com/storage/contents/5905/font.eot'); /* IE */ 
  src: local('Skia'), url('https://www.mediafont.com/storage/contents/5905/Skia.ttf'); /* non-IE */ 
}

body {
  margin: auto;
  overflow: hidden;
  background-color: #DDD;
  font-family: Skia, sans-serif;
  width: 900px;
}

h2 {
  font-size: 28px;
  font-weight: 400;
}

.fullscreen {
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: auto;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 850px;
}

.logo {
  display: flex;
  width: 160px;
}
.logo img {
  opacity: .8;
  filter: grayscale(100%);
  width: 160px;
}

.title {
  display: flex;
  font-size: 80px;
  font-weight: 100;
  letter-spacing: 16px;
  color: #555;
}

.title span:first-child {
  font-weight: 400;
  color: #222;
}

.subtitle {
  font-size: 24px;
  font-weight: 200;
  height: 120px;
  padding: 6px;
}